@font-face {
    font-family: "배달의민족 도현";
    src: local(※), url('fonts/BMDOHYEON.woff');
    }

* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  font-family: "배달의민족 도현"
}
body {
  background-color: #EEEEEE;
}
div.container {
  width: 960px;
}

nav {
  width: 960px;
  background-color: #343434;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  height: 80px;
  overflow: hidden;
  position: fixed;
}
nav a {
 text-decoration: none;
 color : white;
}

nav a:hover {
  color: yellow;
}

nav h1 {
  float: left;
  line-height: 80px;
}
nav ul {
  float: right;
  list-style-type: none;
}
nav > ul li {
  float: left;
}
nav > ul li > div {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 18px;
  line-height: 80px;
}

header {
  padding-top: 0px;
  height: 680px;
  background-color: #cbcbcb;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  display: table;
}
#h_content {
  width: 960px;
  display: table-cell;
  vertical-align: middle;
}

header h2 {
  font-size: 100px;
}
header p {
  font-size: 20px;
}

section {
  height: 800px;
  background-color: #898989;
}

section article {
  float: left;
  width: 320px;
  padding-top: 20px;
}
section article div {
  width: 300px;
  height: 300px;
  position: relative;
}

section article img {
  display: block;
  width: 250px;
  height: 250px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
section article > p {
  padding-left: 30px;
  padding-right: 30px;
  font-size: 18px;
  line-height: 30px;
  color: #191829;
}
section article > p::first-letter {
  font-size: 30px;
  font-weight: bold;
}

footer {
  color: white;
  height: 60px;
  line-height: 60px;
  background-color: #343434;
  text-align: center;
}
footer:hover{
  color: yellow;
}
